{% extends 'base.html' %}

{% block title %} Indonesia Power Project {% endblock %}


{% block body %}

<div class="container">
<form action="">
		<div class="row">
					<h1 class="fw-bold text-primary ">  </h1>
					<p class="fw-bold text-dark border-bottom"> </p>
				</div>
<div class="row">
		<div class="col-sm-12">
			<div class="card bg-body shadow p-3 mb-5 rounded">
				<div class="card-litle m-0">
					<h4 class="fw-bold text-primary">Pengaturan Secondary Alr Damper</h4>
				</div>
				<div class="card body">
				<div class="table-responsive">
					<table class="table table-striped table-sm">
					<thead>
						<tr>
						  <th>Parameter</th>
						  <th>Pemasok Pertama</th>
						  <th>Pemasok Kedua</th>
						  <th>Blending</th>
						</tr>
					</thead>
						  <tbody>
							<tr>
							  <td>Pemasok</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
								<tr>
							  <td>Nilai Kalor</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
								<tr>
							  <td>Total Moisture</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
								<tr>
							  <td>Total Sulfur</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
								<tr>
							  <td>Kadar Abu</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>IDT</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>SiO2</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>Al2O3</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>Fe2O3</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>CaO</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>MgO</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>Na2O</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
								<tr>
							  <td>K2O</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							  </tr>
								<tr>
							  <td>TiO2</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							<tr>
							  <td>HT Max</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							<tr>
							  <td>Jenis Abu</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							<tr>
							  <td>Slagging index</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							<tr>
							  <td>Potensi slagging</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							<tr>
							  <td>Carbon content</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							<tr>
							  <td>Hydrogen content</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							<tr>
							  <td>Oxygen content</td>
							  <td>0</td>
							  <td>0</td>
							  <td>0r</td>
							</tr>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


{% endblock %}